<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="/static/js/main.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "/static/css/style.css">
    <link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet"type="text/css">
    <title>Diario</title>
</head>
<body>
    <div class="header-container">
        <h2>Diario Personal</h2>
    </div>

    <div class="main-container">
        <div class="alert danger">
            <span class="closebtn">&times;</span>
            <span class="text"></span>
        </div>
        <form class="form" id="form" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <div class="form-element">
                        <label for="create_date">¿Cómo te sientes?</label>
                        <input type="text" id="create_date" name="create_date" class="form-option" data-required="true" placeholder="Fecha (dd/mm/yyyy)" maxlength="10">
                        <label for="" class="form-error">Dato Requerido</label>
                    </div>
        
                    <div class="form-element">
                        <label for="create_feel">¿Cómo te sientes?</label>
                        <input type="text" id="create_feel" name="create_feel" class="form-option" data-required="true" placeholder="¿Cómo me siento?">
                        <label for="" class="form-error">Dato Requerido</label>
                    </div>
        
                    <div class="form-element">
                        <label for="create_description">Cuentame más</label>
                        <textarea rows="4" style="resize: vertical;" class="form-option" data-required="true" id="create_description" name="create_description"></textarea>
                        <label for="" class="form-error">Dato Requerido</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-element">
                        <label for="create_img">Imagen</label>
                        <div class="create_img_wrapper">
                            <span class="create_img_label">
                                Cargar Imagen
                            </span>
                            <input type="file" accept="image/*" id="create_img" name="create_img" class="create_img_input form-option" placeholder="Cargar Imagen">
                            <img class="create_img_preview" id="create_img_preview"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" id="create_add">Agregar</button>
                </div>
            </div>
            
        </form>

        <h3>Lista de Cosas</h3>
        <ul id="list_diary">

        </ul>
    </div>
</body>
</html>